{% extends "base.html" %}
{% block title %}Rates{% endblock %}
{% block content %}
    <form method="get" class="uniForm" enctype="multipart/form-data">
        {% csrf_token %}
        {{filter.form}}
        <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"> </span> Apply Filter</button>
    </form>
<table class="table table-striped">
    <thead>
    <tr>
        <th> Currency name</th>
        <th> Base Currency Type</th>
        <th> Buy</th>
        <th> Sale</th>
        <th> Created date</th>
        <th> Source</th>
        <td><a href="{% url 'currency:rate_create' %}"> Create new </a></td>

    </tr>
    </thead>
    <tbody>
    {% for rate in rate_list %}
    <tr>
        <td>{{rate.get_currency_type_display}}</td>
        <td>{{rate.get_base_type_display}}</td>
        <td>{{rate.buy}}</td>
        <td>{{rate.sale}}</td>
        <td>{{rate.created}}</td>
        <td>{{rate.source.name}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'currency:rate_detail' rate.id %}">Detail</a>
                    <a class="dropdown-item" href="{% url 'currency:rate_update' rate.id %}">Edit</a>
                    <a class="dropdown-item" href="{% url 'currency:rate_delete' rate.id %}">Delete</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% include 'includes/pagination.html' %}
{% endblock content %}

