{% extends "base.html" %}
{% block title %}Sources{% endblock %}
{% block content %}

<table>
    <tr>
        <th> Source name </th>
        <th> URL </th>
        <td> <a href="{% url 'currency:source_create' %}"> Create new </a></td>

    </tr>
     {% for source in object_list %}
     <tr>
        <td>{{source.name}}</td>
        <td>{{source.url}}</td>
         <td><a href="{% url 'currency:source_detail' source.id %}"> Detail</a> </td>
         <td><a href="{% url 'currency:source_update' source.id %}"> Edit</a> </td>
         <td><a href="{% url 'currency:source_delete' source.id %}"> Delete</a> </td>
    {% endfor %}
    </tr>

</table>

{% endblock content %}
